RESEND_CONTACTS_API_KEY=re_cVza5cdv_C1YeG15So9uv25Ww1z73466b
CONTACT_EMAIL_TO=inquiries@ironvael.com
EMAIL_FROM=Ironvael Contact <noreply@inquiry.ironvael.net>
NEWSLETTER_NOTIFY_EMAIL=inquiries@ironvael.com

